  body {
    background-color: #f6f6f6;
  }

hr {
background-color: #f6f6f6;
border-style: none;
border-top-style: dotted;
  border-color: grey;
  border-width: 8px;
width: 10%;
}

h1 {
  color: #f17e7e;
}

h2 {
  color: #f17e7e;
}

h3 {
  color: #f17e7e;
}

a:hover {
  color: green;
}
